//
//  Build-Shared.xcconfig
//  NDVKit
//
//  Created by Nathan de Vries on 25/08/10.
//  Copyright 2010 Nathan de Vries. All rights reserved.
//


PRODUCT_NAME = NDVKit


SDKROOT = iphoneos4.0
IPHONEOS_DEPLOYMENT_TARGET = 3.0


ARCHS = $(ARCHS_UNIVERSAL_IPHONE_OS)
DSTROOT = /tmp/$(PRODUCT_NAME).dst
INSTALL_PATH = /usr/local/lib


OTHER_LDFLAGS = -ObjC -all_load -framework Foundation -framework UIKit


ALWAYS_SEARCH_USER_PATHS = NO


GCC_MODEL_TUNING = G5
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = $(PRODUCT_NAME)_Prefix.pch


GCC_TREAT_WARNINGS_AS_ERRORS = YES
GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
GCC_WARN_SHADOW = YES
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = YES
GCC_WARN_ABOUT_MISSING_NEWLINE = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_PARAMETER = YES
GCC_WARN_UNUSED_VALUE = YES
